@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 99vw;
  display: grid;
  place-items: center;
  background: #222222;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;

  overflow-x: hidden; 
}

title{
  display: flex;
  width: 100vw;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  font-weight: 600;
  color: #ffffff
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 170px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #636200;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../../assets/new-photos/img-sec4/correção\ postural.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../../assets/new-photos/img-sec4/PERIODIZAÇÃO.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../../assets/new-photos/img-sec4/dores\ e\ lesões.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("../../assets/new-photos/img-sec4/consultoria\ para\ profissionais\ da\ área.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
        background: url("../../assets/new-photos/img-sec4/testes\ físicos.jpg")
          no-repeat 50% / cover;
    }
    &:nth-of-type(6) {
        background: url("../../assets/new-photos/img-sec4/corrida.jpg")
          no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(57, 46, 0);
      background: linear-gradient(
        0deg,
        rgba(52, 43, 0, 0.676) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 300px;
      box-shadow: 1px 3px 15px #dfbd00;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}


@media screen and (max-width: 1400px){
  title{
    text-align: center;
  }

  .container{
    display: flex;
    flex-direction: column;

    height: 300vh;
    align-items: center;
  }

  .container > div {
    flex: 0 0 auto; /* Reset the flex basis */
    box-shadow: none;
    transform: none;
    cursor: default;

    width: 300px;
    height: 300px;

    margin: 10px;
  }

  .container > div:hover {
    flex: 0 0 auto;
    box-shadow: none;
    transform: none;
  }

  .container > div .content {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  
  .content{
    h2{
      text-align: center;
    }
  }
}