/* styles.css */
* {
  background-color: #212121;
  font-family: "Charis SIL", serif;
  body {
    overflow-x: hidden; /* Isso esconde a rolagem horizontal */
}

}

@media screen and (max-width: 400px) {
  .mainContainer {
    width: 100vw;
  }
}
