.generalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 100px;
  width: 99vw;
  height: 100vh;
  background-image: url("../../assets/backgrounds/primeiro (1).png");
  background-size: cover;

  border-bottom: 10px solid #f1db51;
}

.generalContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 550px;
  height: 413px;

  padding: 10px;

  button {
    transition: transform 0.3s ease-in-out;

    width: 350px;
    height: 60px;
    margin-top: 50px;

    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    background-color: transparent;
    background-color: #ffcc00;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

    &:hover {
      transform: scale(1.07);
      background-color: #ffffff;
      color: #121212;

      text-shadow: 2px 2px 4px rgba(68, 68, 68, 0.5);
      transform: scale(1.07);
    }
  }
}

.title {
  width: 550px;
  height: 100px;

  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
}

.description {
  width: 550px;
  height: 110px;

  color: #ffffff;
  font-size: 27px !important;
  font-weight: 400;
  line-height: 32px;
}

.imageSec1 {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 10px 5px #ffe10098;
  border-radius: 10px;

  background-image: url("../../assets/new-photos/12.jpg");
  background-size: 500px 600px;

  img {
    border-radius: 10px;
  }
}

/* Cellphone version */

@media screen and (max-width: 1400px) {
  .generalContainer {
    width: 100vw;
    height: 130vh;
    display: flex;
    padding: 0;
    align-items: center;
    background: none;
    flex-direction: column;
    margin: 0;
  }

  .leftContainer {
    height: 100vh !important;
    width: 100vw !important;

    padding: 0 !important;
  }

  .imageSec1 {
    width: 300px;
    height: 470px;
    background-size: 400px 210px;
    position: relative;
    bottom: 80px;
    img {
      margin: 0;
    }
  }

  .title {
    margin-top: 90px;
    margin-bottom: 50px;

    font-size: 35px !important;
    font-weight: 500 !important;
    line-height: 55px !important;
    text-align: center !important;

    width: 360px !important;
    height: 110px !important;

    span{
      font-size: 43px !important;
      font-weight: 700 !important;
    }
  }

  .description {
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    text-align: center !important;

    width: 370px !important;
    height: auto !important;
  }

  .leftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
