.section5 {
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #ffdd00cb;

  margin-top: 150px;
  margin-bottom: 250px;

  img{
    width: 480px;
    transform: rotate(5deg);
  }
}


/* CELLPHONE VERSION */


@media screen and (max-width: 1400px){
  .section5 {
    height: 150px;
    width: 100vw;
  
    img{
      width: 300px;
      transform: rotate(5);
    }
  }
}