.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 99vw;
    max-width: 960px;
    margin: 0 auto;
}

.grid-item {
    width: 470px;
    height: 270px;
    border: 1px solid #f7f300;
    padding: 15px;
}

.gridFstLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.grid-item img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 20px;
}

.grid-item h3 {
    font-size: 25px;
    color: #ffffff;
}

.grid-item p {
    margin-top: 5px;
    font-size: 19px;
    color: #ffffff;
}


/* CELLPHONE VERSION */


@media screen and (max-width: 1400px){
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;
    }

    .grid-item {
        width: 350px;
    }

    .grid-item h3{
        width: 280px !important;
        
    }
    .grid-item img {
        width: 35px !important;

        margin-left: 0;
    }
}